adal==0.4.4
applicationinsights==0.10.0
argcomplete==1.8.2
azure-cli==0.1.1b3
azure-cli-acr==0.1.1b2
azure-cli-acs==0.1.1b3
azure-cli-appservice==0.1.1b2
azure-cli-cloud==0.1.1b2
azure-cli-component==0.1.0rc2
azure-cli-configure==0.1.1b3
azure-cli-container==0.1.1b2
azure-cli-context==0.1.1b2
azure-cli-core==0.1.1b3
azure-cli-feedback==0.1.1b2
azure-cli-network==0.1.1b2
azure-cli-nspkg==0.1.2
azure-cli-profile==0.1.1b2
azure-cli-resource==0.1.1b2
azure-cli-role==0.1.1b2
azure-cli-storage==0.1.1b2
azure-cli-vm==0.1.1b3
azure-common==1.1.4
azure-graphrbac==0.30.0rc6
azure-mgmt-authorization==0.30.0rc6
azure-mgmt-compute==0.33.0
azure-mgmt-containerregistry==0.1.1
azure-mgmt-dns==0.30.0rc6
azure-mgmt-network==0.30.0
azure-mgmt-nspkg==1.0.0
azure-mgmt-resource==0.30.2
azure-mgmt-storage==0.31.0
azure-mgmt-trafficmanager==0.30.0rc6
azure-mgmt-web==0.30.1
azure-nspkg==1.0.0
azure-storage==0.33.0
certifi==2017.1.23
cffi==1.9.1
colorama==0.3.7
cryptography==1.7.2
cycler==0.10.0
Django==1.10.5
django-appconf==1.0.2
django-bootstrap-themes==3.3.6
django-bootstrap3==8.2.1
django-carton==1.2.1
django-compressor==1.5
django-registration-redux==1.4
django-social-auth==0.7.28
enum34==1.1.6
functools32==3.2.3.post2
futures==3.0.5
httplib2==0.10.3
idna==2.2
ipaddress==1.0.18
isodate==0.5.4
jmespath==0.9.1
keyring==10.2
latexcodec==1.0.4
libsvm==3.21
matplotlib==2.0.0
msrest==0.4.5
msrestazure==0.4.7
ndg-httpsclient==0.4.2
nltk==3.2.2
numpy==1.11.3+mkl
oauth2==1.9.0.post1
oauthlib==2.0.1
olefile==0.44
pandas==0.19.2
paramiko==2.1.1
paypalrestsdk==1.12.0
pbr==2.0.0
Pillow==8.1.1
pyasn1==0.2.2
pybtex==0.21
pycparser==2.17
Pygments==2.2.0
PyJWT==1.4.2
pyOpenSSL==16.2.0
pyparsing==2.1.10
python-dateutil==2.6.0
python-openid==2.2.5
python-social-auth==0.2.21
pytz==2016.10
pywin32-ctypes==0.0.1
PyYAML==3.12
requests==2.13.0
requests-oauthlib==0.8.0
scikit-learn==0.18.1
scipy==0.18.1
scp==0.10.2
six==1.10.0
social-auth-app-django==1.1.0
social-auth-core==1.2.0
sshtunnel==0.1.2
stemming==1.0
stevedore==1.21.0
stripe==1.51.0
tabulate==0.7.7
urllib3==1.16
virtualenv==15.1.0
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.2
virtualenvwrapper-powershell==12.7.8
virtualenvwrapper-win==1.2.1
Whoosh==2.5.0
